# HDSC Stage B Tag Along: Sachin Kumar Singh

# Loading Dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r'C:\Users\Sachin\Desktop\HAMOYE Codes\Stage 2\test_data.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [3]:
#renaming columns
new_columns={'T1': 'Kitchen_t','RH_1':'Kitchen_h','T2' :'Living_room_t',
             'RH_2':'Living_room_h','T3': 'laundry_room_t','RH_3':'laundry_room_h',
             'T4': 'office_room_t','RH_4':'office_room_h','T5': 'bathroom_t',
             'RH_5':'bathroom_h','T6': 'outside_the_building_northside_t',
             'RH_6':'outside_the_building_northside_h',
             'T7': 'ironing_room_t','RH_7':'ironing_room_h','T8': 'teenager_room_2 _t',
             'RH_8':'teenager_room_2 _h','T9': 'parents_room_t',
             'RH_9':'parents_room_h','T_out':'outside_t','RH_out':'outside_h'}
df=df.rename(columns=new_columns)
df

,date,Appliances,lights,Kitchen_t,Kitchen_h,Living_room_t,Living_room_h,laundry_room_t,laundry_room_h,office_room_t,...,parents_room_t,parents_room_h,outside_t,Press_mm_hg,outside_h,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [4]:
df.head()

,date,Appliances,lights,Kitchen_t,Kitchen_h,Living_room_t,Living_room_h,laundry_room_t,laundry_room_h,office_room_t,...,parents_room_t,parents_room_h,outside_t,Press_mm_hg,outside_h,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.isnull().sum()

date                                0
Appliances                          0
lights                              0
Kitchen_t                           0
Kitchen_h                           0
Living_room_t                       0
Living_room_h                       0
laundry_room_t                      0
laundry_room_h                      0
office_room_t                       0
office_room_h                       0
bathroom_t                          0
bathroom_h                          0
outside_the_building_northside_t    0
outside_the_building_northside_h    0
ironing_room_t                      0
ironing_room_h                      0
teenager_room_2 _t                  0
teenager_room_2 _h                  0
parents_room_t                      0
parents_room_h                      0
outside_t                           0
Press_mm_hg                         0
outside_h                           0
Windspeed                           0
Visibility                          0
Tdewpoint                           0
rv1                                 0
rv2                                 0
dtype: int64

# Ans 12 :-   1.0

In [6]:
x=df['Living_room_t'].values
x=x.reshape(len(x),1)
y=df['Living_room_t'].values

In [7]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [8]:
#fit the model to the training dataset
fit1=linear_model.fit(x, y)

In [9]:
#obtain predictions
predicted_values = linear_model.predict(x)

Obtaining the  R^2 value

In [10]:
from sklearn.metrics import r2_score
r2_score = r2_score(y, predicted_values)
round(r2_score, 3)

1.0

# Ans 13 :-  53.643

In [11]:
#normalize dataset to common scale using min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
normalised_df=df.drop(columns=['date','lights','Appliances'])
features_df=pd.DataFrame(scaler.fit_transform(normalised_df),columns=normalised_df.columns)   
y=df['Appliances'].values
x=normalised_df.values

In [12]:
#now we split data into training and testing dataset.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [14]:
#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [15]:
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [16]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

53.643

# Ans 14:- 51918501.21

In [17]:
#RSS value 
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

51918501.212

# Ans 15 :- 93.640

In [18]:
# ● Root Mean Square Error (RMSE)
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

93.64

# Ans 16:-  0.15

In [20]:
# ● R-Squared or coefficient of determination
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,predicted_values )
round(r2_score, 2)

0.15

# Ans 18

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

In [21]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(x_test, y_test))
round(rmse, 3)

ValueError: y_true and y_pred have different number of output (26!=1)

In [ ]:
# from sklearn.linear_model import Lasso
# lasso_reg = Lasso(alpha=0.001)
# lasso_reg.fit(x_train, y_train)

In [ ]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights.sort_values("Linear_Model_Weight", ascending=False)